body {
	background-color: #35667d;
}
#intro {
	text-align: center;
	color:#d1daff;
	margin-top: 28px;
    margin-bottom: 28px;
    font-size: 23px;
    background: url("http://www.fbschedules.com/images/logos/nfl/indianapolis-colts.png");
    background-size: 30px, 30px
}
.category {
	color:rgba(0, 255, 236, 0.77);
	font-size: 27px;
	text-align:center;
}
#menu {
	color:blue;
	display:flex;
	border:1px solid blue;
	padding: 4px 15px 4px 15px;
}
.title {
	width:200px;
	border:2px solid blue;
	background-color: #00dcff;
	height:50px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	line-height:55px;
}
.socialmedia{
	width:50%;
	text-align: center;
}
#smicons {
	display:flex;
}
#top5title{
	color:rgb(255, 255, 255);
	font-size: 20px;
	margin-bottom: 16px;
	margin-top: 12px;
}
#charinsta {
	text-align: center;
	font-family: georgia;
}
#charmodel {
	height:50px;
}
#charbottomwrap{
	margin-top:50px;
	margin-bottom:20px;
	height:200px;
}
#top5wrapper {
	height:200px;
	width:40%;
	float:left;
}
#top5angry {
	font-style:bold;
}
#charlesbooks {
	font-size: 31px;
	text-align: center;
	line-height: 187px;
	height:200px;
	margin-left: 40%;
	border:4px solid blue;
}
#movrevtable {
	width:100%;
}

#movradarwrap {
	width:70%;
	float:left;
	height:260px;
}
#radartitle {
	color:white;
	margin-top:31px;
	margin-left:20px;
	font-size:20px;
}
#movradar {
	margin-top:31px;
}
#sequel {
	margin-left: 70%;
    height: 204px;
    line-height: 38px;
    font-size: 17px;
    margin-top: 78px;
    text-align: center;
    margin-right:200px;
    font-family:arial black;
    color:white;
}
#suggestform {
	font-family:arial;
	font-weight:bold;
	color:white;
	float:left;
	width:30%;
	height:200px;
	line-height: 50px;
}
#tvreviews {
	height:200px;
}
.tvrev {
	height:150px;
	float:left;
	margin-left: 60px;
}

.gamewrap {
    width: 43%;
    margin: 0% 3% 20px 3%;
    height: 163px;
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}
.game {
	text-align:center;
	color:white;
	font-weight: bold;
}
.gamerev {
	font-family:tahoma;
	color:#e4fffc;
}
#battle {
	color:red;
	text-align:center;
	font-size:21px;

}

table, th, td {border:2px solid grey;}

h1 {align-items: center}